$nav-item-spacing: 15px; //spacing between nav items
$border-radius-regular: 5px; //standard border-radius
$border-radius-small: 3px;
$border-radius-large: 12px;
$border-radius-medium: 7px;
$base-padding: 7.5px;
