//import the globals
@import "./globals/colors";
@import "./globals/variables";
@import "./globals/mixins";

//import components
@import "./components/main-menu";
@import "./components/control-menu";

textarea {
  width: 100%;
  height: 72vh;
  /* overflow-y: scroll; */
  padding: 17.5px;
  font-size: 1.2rem;
  border: none;
  outline: none;
  background: #fff !important;
  border-radius: 12px;
}

textarea::placeholder {
  text-transform: capitalize;
  color: #707070;
}

